* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}



header {
    background-color: #354b87;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
    font-size: 15px;
    padding-top: 20px;   /* empurra o texto para baixo */
    display: inline-block; /* permite aplicar padding corretamente */
    font-family: Arial, Helvetica, sans-serif;
}



.sobre{
    text-align: center;
    margin-top: 40px;
    font-weight: bold;
    font-size: xx-large;
    color: #354b87;
}


.suites {
  display: flex;
  justify-content: center;
  gap: 10px;                 
  margin-top: 40px;      
}


.suite img {
  width: 370px;             
  height: auto;
  display: block;
  transition: transform 0.3s ease; 
}

.suite img:hover {
    transform: scale(1.08); 
}


.sectionicones {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
    margin: 50px auto;
}


ul li {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 18px;
    color: #7a7467;
    font-weight: bold;
}

.icone {
    width: 36px;
    height: 36px;
    border-radius: 5px;
}


/*********************/
article p {
    font-size: 22px;
    color: #3b4fb3;
    line-height: 1.5;
}

/***************************/
.sectionpreco {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.caixa-preco {
    border: 4px solid #2c3c85;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.caixa-preco:hover {
    transform: scale(1.08); 
    box-shadow: 0 0 15px rgba(44, 60, 133, 0.4); 
}

.caixa-preco h2 {
    font-size: 28px;
    color: #2c3c85;
}

.caixa-preco span {
    display: block;
    margin-top: 5px;
    font-size: 15px;
    color: #2c3c85;
}

/*********************/
footer {
    background: #2c3c85;
    color: white;
    text-align: center;
    padding: 22px;
    margin-top: 40px;
}


/*responsivo*/
@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    nav ul {
        flex-direction: column;
        gap: 8px;
    }

    .suites {
        flex-direction: column;
        align-items: center;
    }

    .suite img {
        width: 90%;
        justify-content: center;
    }

    .sectionicones {
        grid-template-columns: 1fr;
    }

    article p {
        text-align: center;
        font-size: 18px;
        padding: 0 15px;
    }

    .caixa-preco {
        width: 70%;
        margin: auto;
    }
}

